block content
    div
        | Hello #{userName}. Click here if you want change password

        br
        |
        a(href=`http://localhost:4000/user/:userId/newPassword?token=${forgotPasswordHash}`) http://localhost:4000/users/:userId/newPassword?token=#{forgotPasswordHash}
        |
        br
        |
        br
        |
        a(href=`http://localhost:4000/deleteNewPassword/token/?user=${email}`) Please click here if it isn't you.
